---
layout: default
rdf_prefix_path: _data/prefixes.pref
---
<div class="instance">
  {{page.rdf}}
</div>

<h1>{{ page.rdf | rdf_property: "rdfs:label" }}</h1>

<dl>
  <dt>Date</dt>
  <dd>{{ page.rdf | rdf_property: "dc:date" | date: "%Y" }}</dd>
  <dt>Location</dt>
  <dd>{{ page.rdf | rdf_property: "schema:location" }}</dd>
  <dt>Performer</dt>
  {% assign performer = page.rdf | rdf_property: "schema:performer" %}
  <dd><a href="{{ performer.page_url }}">{{ performer | rdf_property: "foaf:name" }}</a></dd>
  {% assign seealso = page.rdf | rdf_property: "rdf:seeAlso", nil, true %}
  {% if seealso %}
  <dt>See Also</dt>
  {% for link in seealso %}
  <dd><a href="{{ link }}">{{ link }}</a></dd>
  {% endfor %}
  {% endif %}
</dl>
